Node-red and database/29_09_2022.json
[
    {
        "id": "de27f8a7c10de9a5",
        "type": "tab",
        "label": "Kinefox",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd48677c2c499b38",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Kinefox dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 3,
                "cy": 3,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "745e09e9.481608",
        "type": "ui_group",
        "name": "Map",
        "tab": "5ca6b86e2f5c6d81",
        "order": 1,
        "disp": false,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f7c9b72c9cadeb4",
        "type": "ui_group",
        "name": "Battery Voltage",
        "tab": "a3a951665da9da81",
        "order": 2,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "72e6acdefc2720aa",
        "type": "ui_group",
        "name": "Form",
        "tab": "a3a951665da9da81",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3a951665da9da81",
        "type": "ui_tab",
        "name": "Data",
        "icon": "show_chart",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5ca6b86e2f5c6d81",
        "type": "ui_tab",
        "name": "Map",
        "icon": "map",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2b864074ca24b60b",
        "type": "mongodb",
        "hostname": "sigfoxdb.lzqbfy2.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "SigfoxDB",
        "name": "MongoDB"
    },
    {
        "id": "58c9da6f27a33c52",
        "type": "inject",
        "z": "de27f8a7c10de9a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "c5fb44b082f46fcf"
            ]
        ]
    },
    {
        "id": "edc0e15e957c83fe",
        "type": "change",
        "z": "de27f8a7c10de9a5",
        "name": "Sigfox_geolocation",
        "rules": [
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "payload.Geolocation.lat",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.lng",
                "pt": "msg",
                "to": "payload.Geolocation.lng",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "eb451482fba8a010"
            ]
        ]
    },
    {
        "id": "eb451482fba8a010",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "function",
        "func": "var counter = 0;\nvar newMsg1;\nvar newMsg2;\nwhile (msg.payload.lat.length > counter) {\nnewMsg1 = { payload: { \"name\": \"121E1B1\", \"lat\": msg.payload.lat[counter], \"lon\": msg.payload.lng[counter] }};\n//newMsg2 = { payload: { \"name\": counter, \"lat\": msg.payload.lat[counter], \"lon\": msg.payload.lng[counter] }};\nnode.send(newMsg1);\n//node.send(newMsg2);\ncounter = counter + 1;\n}\nreturn;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d17621aca82b1d22",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Splitting HEX-message in ACC, Battery, GPS, TTF and Time",
        "func": "var counter = 0;\nvar acc;\nvar bat;\nvar gps;\nvar ttf;\nacc = { payload: msg.payload.data.slice(0, 4) };\nbat = { payload: msg.payload.data.slice(4, 8), timestamp: msg.payload.time};\nttf = { payload: msg.payload.data.slice(8, 10)}\ngps = { payload: msg.payload.data.slice(10, 24) };\nreturn [acc,bat,ttf,gps];\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 360,
        "wires": [
            [],
            [
                "9b4bad4eed493fd7"
            ],
            [],
            [
                "a14988717c67ecf2"
            ]
        ]
    },
    {
        "id": "9b4bad4eed493fd7",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Battery",
        "func": "const hexToDecimal = hex => parseInt(hex, 16);\n\nconst bat = hexToDecimal(msg.payload);\n\nvar msg = { topic: global.get(\"121E1B7\"), payload: bat, timestamp: msg.timestamp*1000};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 540,
        "wires": [
            [
                "d876f33043dfbb70",
                "c5439f19bd866bac"
            ]
        ]
    },
    {
        "id": "e4de9e12a1c7e7f2",
        "type": "ui_worldmap",
        "z": "de27f8a7c10de9a5",
        "group": "745e09e9.481608",
        "order": 1,
        "width": "30",
        "height": "15",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "EsriS",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1980,
        "y": 520,
        "wires": []
    },
    {
        "id": "3284b383cf5ebf4b",
        "type": "ui_form",
        "z": "de27f8a7c10de9a5",
        "name": "",
        "label": "Select trackers and dates",
        "group": "72e6acdefc2720aa",
        "order": 1,
        "width": "6",
        "height": "11",
        "options": [
            {
                "label": "Test device 1",
                "value": "121E1B7",
                "type": "checkbox",
                "required": true,
                "rows": null
            },
            {
                "label": "Pekka",
                "value": "121E1B6",
                "type": "checkbox",
                "required": true,
                "rows": null
            },
            {
                "label": "Comet",
                "value": "Animal2",
                "type": "checkbox",
                "required": true,
                "rows": null
            },
            {
                "label": "Etna goat",
                "value": "Animal3",
                "type": "checkbox",
                "required": true,
                "rows": null
            },
            {
                "label": "Hyena",
                "value": "121E1A9",
                "type": "checkbox",
                "required": true,
                "rows": null
            },
            {
                "label": "Start date",
                "value": "startTime",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "End date",
                "value": "endTime",
                "type": "date",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "121E1B7": false,
            "121E1B6": false,
            "Animal2": false,
            "Animal3": false,
            "121E1A9": false,
            "startTime": "",
            "endTime": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 310,
        "y": 800,
        "wires": [
            [
                "90e6f448ebd487ce",
                "d564fe6a397544f6",
                "8b1b0993df477efd",
                "754d711874499e4c",
                "0952809d86be37f9"
            ]
        ]
    },
    {
        "id": "8726b5945c2cb22b",
        "type": "ui_ui_control",
        "z": "de27f8a7c10de9a5",
        "name": "",
        "events": "connect",
        "x": 100,
        "y": 940,
        "wires": [
            [
                "3284b383cf5ebf4b",
                "d564fe6a397544f6"
            ]
        ]
    },
    {
        "id": "d0e7ab10dc37423c",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Sort for timestamp",
        "func": "var counter = 0;\nvar newmsg;\nwhile (msg.payload.length > counter) {\n    newmsg = { payload: msg.payload[counter] };\n    if (msg.payload[counter].time > global.get(\"startTimeUNIX\") && msg.payload[counter].time < global.get(\"endTimeUNIX\")) {\n        node.send([newmsg]);\n    };\n    counter = counter + 1;\n}\nreturn;\n\n\n\n\n//msg.payload[counter].time > global.get(\"startTimeUNIX\") && msg.payload[counter].time < global.get(\"endTimeUNIX\")",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 360,
        "wires": [
            [
                "d17621aca82b1d22"
            ]
        ]
    },
    {
        "id": "90e6f448ebd487ce",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Convert ISO 1801 timestamp to UNIX",
        "func": "var startTimeISO = new Date(msg.payload.startTime);\nvar endTimeISO = new Date(msg.payload.endTime);\n\nglobal.set(\"startTimeUNIX\", startTimeISO.getTime()/1000);\nglobal.set(\"endTimeUNIX\", endTimeISO.getTime()/1000);\n\nvar newMsg = { payload: \"BEGIN\" };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "7f524a35309fcfbf",
        "type": "inject",
        "z": "de27f8a7c10de9a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "startTimeUNIX",
        "payloadType": "global",
        "x": 560,
        "y": 120,
        "wires": [
            [
                "e23ecb719bcd9664"
            ]
        ]
    },
    {
        "id": "e23ecb719bcd9664",
        "type": "debug",
        "z": "de27f8a7c10de9a5",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "28cab18aaeea3691",
        "type": "inject",
        "z": "de27f8a7c10de9a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "endTimeUNIX",
        "payloadType": "global",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "e23ecb719bcd9664"
            ]
        ]
    },
    {
        "id": "d876f33043dfbb70",
        "type": "debug",
        "z": "de27f8a7c10de9a5",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 760,
        "wires": []
    },
    {
        "id": "d564fe6a397544f6",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Clear chart",
        "func": "var newMsg = { payload:[]};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 760,
        "wires": [
            [
                "c5439f19bd866bac"
            ]
        ]
    },
    {
        "id": "c5439f19bd866bac",
        "type": "ui_chart",
        "z": "de27f8a7c10de9a5",
        "name": "",
        "group": "8f7c9b72c9cadeb4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Battery voltage",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Please select trackers and dates!!!",
        "dot": false,
        "ymin": "2900",
        "ymax": "3600",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#da0101",
            "#ec7404",
            "#388f38",
            "#6b43a8",
            "#47989a",
            "#2898c8",
            "#000000",
            "#ecca22"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1700,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "85e78da6430727fd",
        "type": "inject",
        "z": "de27f8a7c10de9a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 520,
        "wires": [
            [
                "b01807fde95e3789",
                "3ee63d5ad5f0b9e0"
            ]
        ]
    },
    {
        "id": "4c26a03e6f56173a",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Sort for timestamp",
        "func": "var counter = 0;\nvar newmsg;\nwhile (msg.payload.length > counter) {\n    newmsg = { payload: msg.payload[counter] };\n    if (msg.payload[counter].time > global.get(\"startTimeUNIX\") && msg.payload[counter].time < global.get(\"endTimeUNIX\")) {\n        node.send([newmsg]);\n    };\n    counter = counter + 1;\n}\nreturn;\n\n\n\n\n//msg.payload[counter].time > global.get(\"startTimeUNIX\") && msg.payload[counter].time < global.get(\"endTimeUNIX\")",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 500,
        "wires": [
            [
                "0c5a72fa37872a3e"
            ]
        ]
    },
    {
        "id": "984db8b196cc781e",
        "type": "change",
        "z": "de27f8a7c10de9a5",
        "name": "Sigfox_geolocation",
        "rules": [
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "payload.Geolocation.lat",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.lng",
                "pt": "msg",
                "to": "payload.Geolocation.lng",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 440,
        "wires": [
            [
                "92468b31b0c6c515"
            ]
        ]
    },
    {
        "id": "92468b31b0c6c515",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "function",
        "func": "var counter = 0;\nvar newMsg1;\nvar newMsg2;\nwhile (msg.payload.lat.length > counter) {\nnewMsg1 = { payload: { \"name\": \"121E1B1\", \"lat\": msg.payload.lat[counter], \"lon\": msg.payload.lng[counter] }};\n//newMsg2 = { payload: { \"name\": counter, \"lat\": msg.payload.lat[counter], \"lon\": msg.payload.lng[counter] }};\nnode.send(newMsg1);\n//node.send(newMsg2);\ncounter = counter + 1;\n}\nreturn;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5e700562e9da8748",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "GPS-coordinates",
        "func": "var lat;\nvar lon;\nvar temp;\nvar coordinates;\n\nconst hexToDecimal = hex => parseInt(hex, 16);\n\nconst dec1 = hexToDecimal(msg.payload.slice(0,2));\nconst dec2 = hexToDecimal(msg.payload.slice(2,4));\nconst dec3 = hexToDecimal(msg.payload.slice(4,6));\nconst dec4 = hexToDecimal(msg.payload.slice(6,8));\nconst dec5 = hexToDecimal(msg.payload.slice(8,10));\nconst dec6 = hexToDecimal(msg.payload.slice(10,12));\nconst dec7 = hexToDecimal(msg.payload.slice(12,14));\n\ntemp = dec1;\nlat = temp << 17;\ntemp = dec2;\nlat = lat | (temp << 9);\ntemp = dec3;\nlat = lat | (temp << 1);\ntemp = dec4;\nlat = lat | ((temp >> 7) & 0xFF);\nlat -= 9000000;\n\nlon = (temp & 0b01111111) << 19;\ntemp = dec5;\nlon = lon | (temp << 11);\ntemp = dec6;\nlon = lon | (temp << 3);\ntemp = dec7;\nlon = lon | ((temp >> 5) & 0xFF);\nlon -= 18000000;\nmsg.payload = { \"name\": global.get(\"121E1B6\"), \"lat\": lat / 100000, \"lon\": lon / 100000 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "fb83b6f1c060d4b1",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Battery",
        "func": "const hexToDecimal = hex => parseInt(hex, 16);\n\nconst bat = hexToDecimal(msg.payload);\n\nvar msg = { topic: global.get(\"121E1B6\"), payload: bat, timestamp: msg.timestamp*1000};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 600,
        "wires": [
            [
                "c5439f19bd866bac"
            ]
        ]
    },
    {
        "id": "754d711874499e4c",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Device selection",
        "func": "var newmsg;\n    newmsg = { payload: \"GO\" };\nif (msg.payload[\"121E1B7\"] == true) {\n        node.send([newmsg,null, null]);\n    };\nif (msg.payload[\"121E1B6\"] == true) {\n    node.send([null,newmsg, null]);\n};\nif (msg.payload[\"121E1A9\"] == true) {\n    node.send([null, null, newmsg]);\n};\nreturn;\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 440,
        "wires": [
            [
                "c5fb44b082f46fcf",
                "74f58b3fe1eba4c6"
            ],
            [
                "b01807fde95e3789"
            ],
            [
                "3ee63d5ad5f0b9e0"
            ]
        ]
    },
    {
        "id": "8b1b0993df477efd",
        "type": "debug",
        "z": "de27f8a7c10de9a5",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 720,
        "wires": []
    },
    {
        "id": "0c5a72fa37872a3e",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Splitting HEX-message in ACC, Battery, GPS, TTF and Time",
        "func": "var counter = 0;\nvar acc;\nvar bat;\nvar gps;\nvar ttf;\nacc = { payload: msg.payload.data.slice(0, 4) };\nbat = { payload: msg.payload.data.slice(4, 8), timestamp: msg.payload.time};\nttf = { payload: msg.payload.data.slice(8, 10)}\ngps = { payload: msg.payload.data.slice(10, 24) };\nreturn [acc,bat,ttf,gps];\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 500,
        "wires": [
            [],
            [
                "fb83b6f1c060d4b1"
            ],
            [],
            [
                "7a72a651e1d41d38"
            ]
        ]
    },
    {
        "id": "0952809d86be37f9",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Save device names and IDs",
        "func": "global.set(\"121E1B7\",\"Test device 1\")\nglobal.set(\"121E1B6\", \"Pekka\")\nglobal.set(\"121E1A9\", \"Hyena\")\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a794b5c7622271c3",
        "type": "inject",
        "z": "de27f8a7c10de9a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "3284b383cf5ebf4b"
            ]
        ]
    },
    {
        "id": "c5fb44b082f46fcf",
        "type": "mongodb in",
        "z": "de27f8a7c10de9a5",
        "mongodb": "2b864074ca24b60b",
        "name": "",
        "collection": "121E1B7",
        "operation": "find",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "edc0e15e957c83fe",
                "d0e7ab10dc37423c"
            ]
        ]
    },
    {
        "id": "b01807fde95e3789",
        "type": "mongodb in",
        "z": "de27f8a7c10de9a5",
        "mongodb": "2b864074ca24b60b",
        "name": "",
        "collection": "121E1B6",
        "operation": "find",
        "x": 420,
        "y": 520,
        "wires": [
            [
                "984db8b196cc781e",
                "4c26a03e6f56173a"
            ]
        ]
    },
    {
        "id": "3ee63d5ad5f0b9e0",
        "type": "mongodb in",
        "z": "de27f8a7c10de9a5",
        "mongodb": "2b864074ca24b60b",
        "name": "",
        "collection": "121E1A9",
        "operation": "find",
        "x": 420,
        "y": 660,
        "wires": [
            [
                "dbcd0b42e85e03b4",
                "014475f0b1a01c6e"
            ]
        ]
    },
    {
        "id": "dbcd0b42e85e03b4",
        "type": "change",
        "z": "de27f8a7c10de9a5",
        "name": "Sigfox_geolocation",
        "rules": [
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "payload.Geolocation.lat",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.lng",
                "pt": "msg",
                "to": "payload.Geolocation.lng",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 580,
        "wires": [
            [
                "90bc5819ac43ab80"
            ]
        ]
    },
    {
        "id": "014475f0b1a01c6e",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Sort for timestamp",
        "func": "var counter = 0;\nvar newmsg;\nwhile (msg.payload.length > counter) {\n    newmsg = { payload: msg.payload[counter] };\n    if (msg.payload[counter].time > global.get(\"startTimeUNIX\") && msg.payload[counter].time < global.get(\"endTimeUNIX\")) {\n        node.send([newmsg]);\n    };\n    counter = counter + 1;\n}\nreturn;\n\n\n\n\n//msg.payload[counter].time > global.get(\"startTimeUNIX\") && msg.payload[counter].time < global.get(\"endTimeUNIX\")",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 640,
        "wires": [
            [
                "06cc9406e443edc4"
            ]
        ]
    },
    {
        "id": "90bc5819ac43ab80",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "function",
        "func": "var counter = 0;\nvar newMsg1;\nvar newMsg2;\nwhile (msg.payload.lat.length > counter) {\nnewMsg1 = { payload: { \"name\": \"121E1B1\", \"lat\": msg.payload.lat[counter], \"lon\": msg.payload.lng[counter] }};\n//newMsg2 = { payload: { \"name\": counter, \"lat\": msg.payload.lat[counter], \"lon\": msg.payload.lng[counter] }};\nnode.send(newMsg1);\n//node.send(newMsg2);\ncounter = counter + 1;\n}\nreturn;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "06cc9406e443edc4",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Splitting HEX-message in ACC, Battery, GPS, TTF and Time",
        "func": "var counter = 0;\nvar acc;\nvar bat;\nvar gps;\nvar ttf;\nacc = { payload: msg.payload.data.slice(0, 4) };\nbat = { payload: msg.payload.data.slice(4, 8), timestamp: msg.payload.time};\nttf = { payload: msg.payload.data.slice(8, 10)}\ngps = { payload: msg.payload.data.slice(10, 24) };\nreturn [acc,bat,ttf,gps];\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 640,
        "wires": [
            [],
            [
                "7da5ee433463cd9f"
            ],
            [],
            [
                "ea5122cd3ea37c8f"
            ]
        ]
    },
    {
        "id": "7da5ee433463cd9f",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Battery",
        "func": "const hexToDecimal = hex => parseInt(hex, 16);\n\nconst bat = hexToDecimal(msg.payload);\n\nvar msg = { topic: global.get(\"121E1B6\"), payload: bat, timestamp: msg.timestamp*1000};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 740,
        "wires": [
            [
                "c5439f19bd866bac"
            ]
        ]
    },
    {
        "id": "58c31dc6bcb97efd",
        "type": "debug",
        "z": "de27f8a7c10de9a5",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 240,
        "wires": []
    },
    {
        "id": "a14988717c67ecf2",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Only GPS",
        "func": "var newMsg = { payload: msg.payload};\nif (msg.payload.length > 13){\nreturn newMsg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 380,
        "wires": [
            [
                "20482617a507bcdb"
            ]
        ]
    },
    {
        "id": "7a72a651e1d41d38",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Only GPS",
        "func": "var newMsg = { payload: msg.payload};\nif (msg.payload.length > 10){\nreturn newMsg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 500,
        "wires": [
            [
                "5e700562e9da8748"
            ]
        ]
    },
    {
        "id": "ea5122cd3ea37c8f",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Only GPS",
        "func": "var newMsg = { payload: msg.payload};\nif (msg.payload.length > 20){\nreturn newMsg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 640,
        "wires": [
            [
                "10671e4a9ab283b6"
            ]
        ]
    },
    {
        "id": "10671e4a9ab283b6",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "GPS-coordinates",
        "func": "var lat;\nvar lon;\nvar temp;\nvar coordinates;\n\nconst hexToDecimal = hex => parseInt(hex, 16);\n\nconst dec1 = hexToDecimal(msg.payload.slice(0,2));\nconst dec2 = hexToDecimal(msg.payload.slice(2,4));\nconst dec3 = hexToDecimal(msg.payload.slice(4,6));\nconst dec4 = hexToDecimal(msg.payload.slice(6,8));\nconst dec5 = hexToDecimal(msg.payload.slice(8,10));\nconst dec6 = hexToDecimal(msg.payload.slice(10,12));\nconst dec7 = hexToDecimal(msg.payload.slice(12,14));\n\ntemp = dec1;\nlat = temp << 17;\ntemp = dec2;\nlat = lat | (temp << 9);\ntemp = dec3;\nlat = lat | (temp << 1);\ntemp = dec4;\nlat = lat | ((temp >> 7) & 0xFF);\nlat -= 9000000;\n\nlon = (temp & 0b01111111) << 19;\ntemp = dec5;\nlon = lon | (temp << 11);\ntemp = dec6;\nlon = lon | (temp << 3);\ntemp = dec7;\nlon = lon | ((temp >> 5) & 0xFF);\nlon -= 18000000;\nmsg.payload = { \"name\": lat / 100000, \"icon\": \"neutral\", \"iconColor\":\"#008B8B\", \"lat\": lat / 100000, \"lon\": lon / 100000 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 660,
        "wires": [
            [
                "e4de9e12a1c7e7f2"
            ]
        ]
    },
    {
        "id": "ef8162587678cd63",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "GPS-coordinates",
        "func": "var lat;\nvar lon;\nvar temp;\nvar coordinates;\n\nglobal.set(\"count\",global.get(\"count\")+1)\n\nconst hexToDecimal = hex => parseInt(hex, 16);\n\nconst dec1 = hexToDecimal(msg.payload.slice(0,2));\nconst dec2 = hexToDecimal(msg.payload.slice(2,4));\nconst dec3 = hexToDecimal(msg.payload.slice(4,6));\nconst dec4 = hexToDecimal(msg.payload.slice(6,8));\nconst dec5 = hexToDecimal(msg.payload.slice(8,10));\nconst dec6 = hexToDecimal(msg.payload.slice(10,12));\nconst dec7 = hexToDecimal(msg.payload.slice(12,14));\n\ntemp = dec1;\nlat = temp << 17;\ntemp = dec2;\nlat = lat | (temp << 9);\ntemp = dec3;\nlat = lat | (temp << 1);\ntemp = dec4;\nlat = lat | ((temp >> 7) & 0xFF);\nlat -= 9000000;\n\nlon = (temp & 0b01111111) << 19;\ntemp = dec5;\nlon = lon | (temp << 11);\ntemp = dec6;\nlon = lon | (temp << 3);\ntemp = dec7;\nlon = lon | ((temp >> 5) & 0xFF);\nlon -= 18000000;\n\nif (global.get(\"count\") == 1) {\nmsg.payload = { \"name\": \"1234\", \"color\": \"#008B8B\", \"icon\": \"neutral\", \"lat\": lat / 100000, \"lon\": lon / 100000 }\nnode.send(msg);\n}\n\nmsg.payload = { \"name\": \"123\", \"color\": \"#008B8B\", \"icon\": \"hostile\", \"lat\": lat / 100000, \"lon\": lon / 100000 }\nnode.send(msg);\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 400,
        "wires": [
            [
                "e4de9e12a1c7e7f2",
                "41e0d19311448f04",
                "58c31dc6bcb97efd"
            ]
        ]
    },
    {
        "id": "41e0d19311448f04",
        "type": "worldmap-tracks",
        "z": "de27f8a7c10de9a5",
        "name": "",
        "depth": 20,
        "layer": "combined",
        "smooth": false,
        "x": 1950,
        "y": 600,
        "wires": [
            [
                "e4de9e12a1c7e7f2"
            ]
        ]
    },
    {
        "id": "20482617a507bcdb",
        "type": "batch",
        "z": "de27f8a7c10de9a5",
        "name": "",
        "mode": "interval",
        "count": "96",
        "overlap": 0,
        "interval": "10",
        "allowEmptySequence": false,
        "topics": [],
        "x": 1530,
        "y": 400,
        "wires": [
            [
                "ef8162587678cd63",
                "58c31dc6bcb97efd"
            ]
        ]
    },
    {
        "id": "74f58b3fe1eba4c6",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Set globals",
        "func": "global.set(\"count\", 0)\nreturn;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5e34249094d67f76",
        "type": "inject",
        "z": "de27f8a7c10de9a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1140,
        "y": 120,
        "wires": [
            [
                "fae1de3cd257ea78"
            ]
        ]
    },
    {
        "id": "fae1de3cd257ea78",
        "type": "function",
        "z": "de27f8a7c10de9a5",
        "name": "Only GPS",
        "func": "var newMsg = { payload: global.get(\"count\")};\nreturn newMsg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 120,
        "wires": [
            [
                "052527477f73a653"
            ]
        ]
    },
    {
        "id": "052527477f73a653",
        "type": "debug",
        "z": "de27f8a7c10de9a5",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 120,
        "wires": []
    }
]